@import url("https://fonts.googleapis.com/css?family=Roboto:400");

html {
    overflow: auto;
}

body,
input,
textarea,
select {
    color: #404040;
    font-family: Roboto;
}

a,
a:hover {
    color: #e42d40;
}

.is-danger {
    background-color: #e42d40 !important;
}

.navbar {
    background-image: url("../images/pattern.svg");
}

.navbar-brand span {
    line-height: 1.75rem;
    margin-left: 0.75rem;
}

.navbar-brand sup {
    font-size: 0.75rem;
    left: 0.25rem;
    position: relative;
    top: -0.5rem;
}

.navbar-item:hover {
    background: none !important;
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus {
    border-color: #e42d40;
    box-shadow: none;
}

.select:not(.is-multiple):after {
    border-color: #e42d40;
}

.title .icon {
    margin-right: 1rem;
}

.subtitle {
    margin-top: 0 !important;
}

.columns {
    margin-top: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.card {
    flex: 1;
}